html,
body,
#root {
  margin: 0;
  background: rgb(128, 128, 128);
  width: 100%;
  height: 100%;
}

div.hamburger {
  position: fixed;
  left: 12px;
  top: 0px;
  z-index: 100;
  font-size: 2em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.5s ease;
}
div.hamburger:hover {
  color: rgb(63, 63, 63);
}

div.sidebar {
  position: fixed;
  width: 300px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  z-index: 100;
}

div.canvas {
  position: fixed;
  width: 1600px;
  height: 1600px;
}

canvas {
  width: 100%;
  height: 100%;
}
