html,
body,
#mq-tiling-outer {
  margin: 0;
  background: rgb(128, 128, 128);
  width: 100%;
  height: 100%;
}

#mq-tiling-inner {
  position: fixed;
  width: 1600px;
  height: 1600px;
}

#mq-tiling-canvas {
  width: 100%;
  height: 100%;
}
